### macOS ###
*.DS_Store

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Config
config/*.conf.js
config/*.json5
.vscode

# Cucumber features & steps
features

#logs
driver-logs
reports